table, tr, th, td, caption{
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

body {
    margin: 7rem;
    padding: 3rem;
    border: 2px solid black;
}